name: Release Rust CLI

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build-and-release:
    runs-on: macos-latest

    outputs:
      VERSION: "${{ steps.extract_version.outputs.VERSION }}"
      SHASUM: ${{ steps.package_binary.outputs.SHASUM }}

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Extract version
        id: extract_version
        run: |
          VERSION=$(grep '^version =' Cargo.toml | head -1 | sed -E 's/.*"([0-9.]+)".*/\1/')
          echo "VERSION: $VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Build binary
        run: cargo build --release

      - name: Package binary
        id: package_binary
        run: |
          cd target/release
          tar -czf dotprint-${{ steps.extract_version.outputs.VERSION }}-x86_64-apple-darwin.tar.gz dotprint
          SHASUM=$(shasum -a 256 dotprint-${{ steps.extract_version.outputs.VERSION }}-x86_64-apple-darwin.tar.gz | awk '{print $1}')
          echo "SHA256: $SHASUM"
          echo "SHASUM=$SHASUM" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.extract_version.outputs.VERSION }}
          files: target/release/dotprint-${{ steps.extract_version.outputs.VERSION }}-x86_64-apple-darwin.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  update-homebrew:
    runs-on: macos-latest
    needs: build-and-release
    permissions:
      contents: read

    steps:
      - name: Checkout homebrew-tap repo
        uses: actions/checkout@v6
        with:
          repository: mani3/homebrew-dotprint
          token: ${{ secrets.HOMEBREW_TAP_TOKEN }}
          path: tap

      - name: Update Formula file
        run: |
          cd tap/Formula
          FORMULA_FILE=dotprint.rb
          sed -i '' -E "s|url \".*\"|url \"https://github.com/mani3/dotprint/releases/download/${{ needs.build-and-release.outputs.VERSION }}/dotprint-${{ needs.build-and-release.outputs.VERSION }}-x86_64-apple-darwin.tar.gz\"|" $FORMULA_FILE
          sed -i '' -E "s|sha256 \".*\"|sha256 \"${{ needs.build-and-release.outputs.SHASUM }}\"|" $FORMULA_FILE
          sed -i '' -E "s|version \".*\"|version \"${{ needs.build-and-release.outputs.VERSION }}\"|" $FORMULA_FILE
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add $FORMULA_FILE
          git commit -m "Update dotprint formula to ${{ needs.build-and-release.outputs.VERSION }}"
          git push origin main
